<ion-header>
  <ion-toolbar>
    <ion-title>Create Medication</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card *ngFor="let Medicatie of MedicatieList | async" routerLink="/detail/{{Medicatie.id}}">
    <ion-card-header>
      {{ Medicatie.merknaam }}
    </ion-card-header>
    <ion-card-content>
       {{ Medicatie.generisch }}
    </ion-card-content>
  </ion-card>-->

</ion-content>
