<ion-header>
  <ion-toolbar>
    <ion-title>create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="createMedicationForm" (submit)="createMedication()">
    <ion-item>
      <ion-label stacked>Medicatie</ion-label>
      <ion-input formControlName="merknaam" type="text"
        placeholder="Wat is de merknaam?">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Generisch</ion-label>
      <ion-input formControlName="generisch" type="text"
        placeholder="Wat is de generische naam?">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>dosis</ion-label>
      <ion-input formControlName="dosis" type="text"
        placeholder="Wat is de toegelaten dosis?">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>toedienings vorm</ion-label>
      <ion-textarea formControlName="vorm" type="text"
        placeholder="Wat is de toedieningswijze?">
      </ion-textarea>
    </ion-item>


    <ion-button expand="block" type="submit"
      [disabled]="!createMedicationForm.valid">
      Voeg medicatie toe
    </ion-button>
  </form>
</ion-content>
